ul {
    font-weight: bold;
    font-size: 1.9rem;
    transition: 0.2s;
    height: 60px;
}

li {
    cursor: pointer;
    margin: 0.2rem;
}
li a {
    text-decoration: none;
}

.dropdown-menu a {
    display: flex; 
    flex-direction: column;
}
.dropdown-menu p {
    font-size: 0.6rem;
}
li i {
    font-size: 1.3rem;
    color: whitesmoke;
}


/* BOTON DESPLEGABLE */
/* CSS para el dropdown cuando está desplegado */
.dropdown-menu {
    border: none;
    background: transparent;
}
.dropdown-menu li{
    padding: 0.5rem;
    display: grid;
    grid-gap: 0.5rem;
    border-radius: 0.5rem;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.dropdown-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    padding: 0.5rem;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background: rgb(59, 59, 59);
    backdrop-filter: blur(30px);
}



