
<ul class="nav bg-light justify-content-between d-flex fixed-top" style="margin-top: 3.5rem; padding-top: 1rem;">
    <li class="nav-item d-flex">
        <button class="btn rounded-circle" (click)="goBack()">
            <i class="fi fi-bs-angle-small-left" style="font-size: 1.5rem;"></i>
        </button>
        <h4> Favorite Books </h4>
    </li>
</ul>


<!-- FAVORITOS -->
<div style="margin-top: 7rem;" class="favorites-container">
    
    <div *ngIf="bookmarks.length === 0" class="empty-message" style="margin-top: 2rem; ">
      No tienes ningún libro marcado como favorito.
    </div>
    <div *ngFor="let bookId of bookmarks" class="bookfavorite-card">

      <div class="book-thumbnail">
        <img [src]="'https://books.google.com/books/content?id=' + bookId + '&printsec=frontcover&img=1&zoom=1'" alt="Portada del libro">
      </div>
      <div class="bookfavorite-details">
        <!-- <h3>Título del Libro</h3> -->
  
        <!-- Botón para quitar el marcado del libro -->
        <button (click)="removeBookmark(bookId)" class="remove-button btn btn-dark rounded-pill"> 
            <i class="fi fi-ss-trash"></i>
        </button>
      </div>
    </div>
  </div>
  

  