<!-- Barra de busqueda -->
<ul class="nav justify-content-around bg-light fixed-top navbar-light z-1">
    <li class="nav-item">
        <div class="input-group bg-light rounded-pill">
          <input type="text" class="form-control" [(ngModel)]="searchQuery" placeholder="Search" (keyup.enter)="searchBooks()">
          <button class="btn" (click)="searchBooks()">
            <i class="fi fi-bs-search"></i>
          </button>
        </div>
      </li>      
</ul>


<!-- Lista de libros -->
<div style="display: flex; width: 100%; justify-content: center;">
    <div class="books-container">
        <div *ngFor="let book of books" class="book">
            <img *ngIf="book.volumeInfo.imageLinks" [src]="book.volumeInfo.imageLinks.thumbnail" alt="{{ book.volumeInfo.title }}" (click)="onSelectBook(book.id)">
        </div>
    </div>
</div>